#profileBox{
	position:fixed;
	right: 0;
	background-color: yellow;
	height:100%;
}
#contentBox{
	background-color: orange;
	position:relative;
	z-index:2;
	text-align:center;
}
#header{
	height:100px;
	background-color: #00FFFF;
	position:fixed;
	left:0;
    right:0;
    top:0;
    z-index:3;
	
	}

#mainContent{
	margin-top:100px;
}
.title-bar{
	height:100px;
}
.input-field-size{
	height:20px;
}

.imageSize{
	height:75px;
	width:75px;
    top:0;
    bottom:0;
    margin:auto;
}
.profile-image{
	height: 130px;
	width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo-col{
	
	
}
#login-col{
	
}
.nav-bar-margin{
	border-right: 1px solid black;
	
}
.fit-nav-bar{
	text-align: center;
	display:inline-block;
    float: none;
	border-top-left-radius:30px;
    border-bottom-left-radius:30px;
	border-top-right-radius:30px;
    border-bottom-right-radius:30px;
	border: 1px solid black;	
}